<div class="container">
  <div class="row">
    <div class="col-md-12">



      <h1 class="text-center">Products</h1>
      <br>

      <div class="row">
        <div class="col-md-3">

          <%= form_tag products_path, method: :get do %>
            <div class="form-group">



              <div class="list-group">
                <% categories_array = Category.all.map { |category| [category.name, category.id] } %>







              </div>











            </div>
            <div class="form-group">
              <%= select_tag :purchase_id, options_from_collection_for_select(Purchase.all, "id", "name_purchases", params[:purchase_id]), prompt: "Purchase", class: "form-control", "onChange"=>"this.form.submit()" %>

            </div>

            <div class="form-group">
              <%= submit_tag "Buscar", name: nil, class: "btn btn-primary btn-md" %>
            </div>

        </div>



        <div class="col-md-9">

          <div class="row">
            <h4 class="col-md-3">suma: $<%= @products.sum(:price) %></h4>
            <h4 class="col-md-3">Transacciones:  <%= @products.count(:id) %></h4>
              <% if (@products.sum(:price)) == 0 %>
                <h4 class"col-md-3">Suma:  $0</h4>
              <% else %>
              <h4 class"col-md-3">Promedio:  $<%= @products.sum(:price) / @products.count(:id) %>
              <% end %>
            </h4>
          </div>
          <br>
          <div class="row">
            <h3 class="col-md-5">
              <%= link_to "Nuevo Producto", new_product_path, class: "btn btn-primary btn-lg" %>
            </h3>
              <div class="form-group col-md-4">

                <% mont = Date.today -%>
                <% month = mont + Date.today.year %>
                <%= select_month(month, :prefix => 'month', :discard_type => true, :include_blank => true, prompt: "Month", class: "form-control", type: "submit") %>





              </div>
          <% end %>
          </div>

          <div class="row">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Precio</th>
                  <th>Categorías</th>
                  <th>Purchases</th>
                  <th>Date</th>
                  <th>Accions</th>
                </tr>
              </thead>
              <tbody>
                <% @products.each do |product| %>
                  <tr>
                    <td><%= product.name %></td>
                    <td><%= product.price %></td>
                    <td><%= Category.find_by(id: product.category_id).name %></td>
                    <td><%= Purchase.find_by(id: product.purchase_id).name_purchases %></td>
                    <td><%= product.date_product.strftime('%B, %d') %></td>
                    <td>
                    <%= link_to 'Editar', edit_product_path(product), class: "btn btn-primary btn-sm" %>
                    <%= link_to 'Eliminar', product_path(product), class: "btn btn-primary btn-sm", method: :delete %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>









        </div>
      </div>




    </div>
  </div>
</div>
